
@font-face {
  font-family: "Roboto";
  src: url("../web-fonts/Roboto-Regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../web-fonts/Roboto-Italic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../web-fonts/Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../web-fonts/Roboto-BoldItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: black;
  --sub-color: white;
  --accent-color: gold;
  --accent-sub-color: rgba(10,120,0,1);
}
/* define colors with custom properties*/

body {
  color: var(--main-color);
  background-color: var(--main-color);
  /* access custom properties with var() */
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

#image-container {
  display: flex;
  justify-content: center;
}

#message-container {
  margin: 0 20% 0 20%;
  padding: 10px 2% 10px 2%;
  background-color: var(--sub-color);
  border-radius: 30px;
}

.decisions {
  margin-top: 10px;
}

img {
  border-radius: 30px;
}

a {
  background-color: var(--accent-color);
  text-decoration: none;

  padding: 0 5px 0 5px;
  border-radius: 30px;

  transition: all 0.175s;
}

a:link,
a:visited {
  background-color: var(--accent-color);
  color: var(--accent-sub-color);
}

a:hover,
a:visited:hover {
  color: var(--accent-color);
  background-color: var(--accent-sub-color);
}
